@* Views/Projects/Detail.cshtml *@
@using BathandwaPortfolioWebsite.Models
@model Project

@{
    ViewData["Title"] = Model.Title;
}

<a asp-controller="Projects" asp-action="Index"><button class="btn-back"><strong>← Back</strong></button></a>

<h1>@Model.Title</h1>

<p>
    @Model.Description
</p>

<p>
    Technologies used:
    @foreach (var tech in Model.TechStack)
    {
        <span class="techBadge"><strong>@tech</strong></span>
    }
</p>

@if (@Model.ProjectStatus == "Completed")
{
    <p>
        Project Status: <span class="project-status-badge-completed"><strong>@Model.ProjectStatus</strong></span>    
    </p>
}
    
@if (@Model.ProjectStatus == "On-going")
{
    <p>
        Project Status: <span class="project-status-badge-ongoing"><strong>@Model.ProjectStatus</strong></span>
    </p>
}

@if (Model.LiveUrl != null)
{
    <p>
        See it live here: <a href="@Model.LiveUrl" target="_blank">@Model.LiveUrl</a>
    </p>
}

@if (Model.ProjectlinkUrl != null)
{
    <p>
        Github: <a href="@Model.ProjectlinkUrl" target="_blank">@Model.ProjectlinkUrl</a>
    </p>
}

@if (Model.VideoUrl != null)
{
    <video class="project-video" controls class="w-100 rounded mt-2"><source src="@Model.VideoUrl" alt="@Model.Slug"/></video>
}

<p>
    @Model.ProjectIdea
</p>

@if (Model.LessonsLearnt.Length > 0)
{
    <h3>Lessons Learnt</h3>
    <ol>
        @for (int i = 0; i < Model.LessonsLearnt.Length; i++)
        {
            <li>
                <strong>@Model.LessonsLearnt[i]:</strong>
                @if (i < @Model.LessonsLearntDescription.Length)
                {
                    @Model.LessonsLearntDescription[i]
                }
            </li>
        }
    </ol>
}

@*Stages*@
@if (Model.Stages.Any())
{
    <h3>Project Stages</h3>
    @foreach (var stage in Model.Stages)
    {
        @if (stage.IsFeatured == true)
        {
            <h3>@stage.Title</h3>
            if (stage.Status == "completed")
            {
                <span class="project-status-badge-completed"><strong>Completed</strong></span>    
            }

            if (stage.Status == "on-going")
            {
                <span class="project-status-badge-ongoing"><strong>On-going</strong></span>  
            }
            
            <p>
                @stage.Description
            </p>
            
            @if (stage.VideoUrl != null)
            {
                <h5>@stage.Title Video</h5>
                <video controls class="w-100 rounded mt-2">
                    <source src="@stage.VideoUrl" type="video/mp4" alt="@stage.Title-video"/>
                </video>
            }

            @if (stage.ImageUrl.Any())
            {
                <h5>@stage.Title Screenshots</h5>
                
                    @for (int i = 0; i < stage.ImageUrl.Length; i++)
                    {
                        if (stage.Sections != null)
                        {
                            <h5>@stage.Sections[i]</h5>
                        }
                        
                        for (int j = 0; j < stage.ImageUrl[i].Length; j++)
                        {
                            <img src="@stage.ImageUrl[i][j]" alt="@stage.ImageAlt" class="project-photo"/>
                        }
                        
                        @if (stage.ImageDescription != null)
                        {
                            <p>
                                @stage.ImageDescription[i]
                            </p>
                        }
                        
                    }
            }
        }
    }
}
    